{% extends 'base.html' %}


{% block css %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">

    <style>
        .container {
            width: 1024px;
            padding: 2em;
        }

        .bold-blue {
            font-weight: bold;
            color: #0277BD;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container">

{#        <div id="toolbar">#}
{#            <select class="form-control">#}
{#                <option value="">Export Basic</option>#}
{#                <option value="all">Export All</option>#}
{#                <option value="selected">Export Selected</option>#}
{#            </select>#}
{#        </div>#}

        <table id="table"
               data-toggle="table"
               data-search="true"
               data-filter-control="true"
               data-show-export="true"
               data-click-to-select="true"
               data-toolbar="#toolbar">
            <thead>
            <tr>
                <th data-field="state" data-checkbox="true"></th>
{#                <th data-field="prenom" data-filter-control="input" data-sortable="true">Prénom</th>#}
{#                <th data-field="date" data-filter-control="select" data-sortable="true">Date</th>#}
{#                <th data-field="examen" data-filter-control="select" data-sortable="true">Examen</th>#}
{#                <th data-field="note" data-sortable="true">Note</th>#}
                    <th scope="col">Studentlar</th>

                    <th scope="col">Talaba bali</th>

                    <th scope="col">Ota bal</th>

                    <th scope="col">Ona bali</th>
                    <th data-field="Guruxi" data-filter-control="select" data-sortable="true" scope="col">Guruxi</th>
                    <th data-field="Gurux sanasi" data-filter-control="select" data-sortable="true" scope="col">Gurux sanasi</th>
            </tr>
            </thead>
            <tbody>
{#            <tr>#}
{#                <td class="bs-checkbox "><input data-index="0" name="btSelectItem" type="checkbox"></td>#}
{#                <td>Valérie</td>#}
{#                <td>01/09/2015</td>#}
{#                <td>Français</td>#}
{#                <td>12/20</td>#}
{#            </tr>#}
            {% for st in students %}
                    <tr>
                    <td class="bs-checkbox "><input data-index="{{ st.id }}" name="btSelectItem" type="checkbox"></td>
                        <td>
                            <a href="{% url 'single_stu' st.id %}">{{ st.firstName }} {{ st.lastName }} {{ st.secondName }}</a>
                        </td>
                        <td class="text-center">
                            {{ st.all_score_f_self }}
                        </td>
                        <td class="text-center">
                            {{ st.all_score_f_dad }}
                        </td>
                        <td class="text-center">
                            {{ st.all_score_f_mom }}
                        </td>
                        <td class="text-center">
                            {{ st.group.name }}
                        </td>
                        <td class="text-center">
                            {{ st.group.created_at }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block js %}

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <!-- Latest compiled and minified Locales -->
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/locale/bootstrap-table-zh-CN.min.js"></script>


    <script>
        $(screen).ready(function () {
              $('input.search-input').attr("placeholder", "isim");
        })
        //exporte les données sélectionnées
        var $table = $('#table');
        $(function () {
            $('#toolbar').find('select').change(function () {
                $table.bootstrapTable('refreshOptions', {
                    exportDataType: $(this).val()
                });
            });
        })

        var trBoldBlue = $("table");

        $(trBoldBlue).on("click", "tr", function () {
            $(this).toggleClass("bold-blue");
        });
    </script>
{% endblock %}