{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between my-2">
            <div class="h2">Guruhlar</div>
            <div class="">
                <a class="btn btn-info" href="{% url 'all_students' %}">barcha talabalar</a>
            </div>
            <div class="">
                <a class="btn btn-primary" href="/admin/">admin</a>
            </div>

        </div>




        <table class="table table-striped" style="">
            <thead>
            <tr>

                <th scope="col">Guruh</th>
                <th scope="col">Yosh</th>
                <th scope="col">Kunlar</th>
                <th scope="col">Soat</th>
                <th scope="col"></th>


            </tr>
            </thead>
            <tbody>
            {% for gr in groups %}
            <tr>

                    <td><a href="{% url 'students' gr.id %}">{{ gr.name }}</a></td>
                    <td><a href="{% url 'students' gr.id %}">{{ gr.yosh }}</a></td>
                    <td><a href="{% url 'students' gr.id %}">{{ gr.kunlar }}</a></td>
                    <td><a href="{% url 'students' gr.id %}">{{ gr.soat }}</a></td>
                    <td><a class="btn btn-light " href="{% url 'task_list' gr.id %}">Topshiriqlar</a></td>
{#                    <td>Otto</td>#}

            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}

